.relationship {
    height: auto;
    margin: 0 0 500px 0;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contai-relation {
    width: 280px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}
.contai-relation:hover {
    transform: translateY(-8px);
}
.avt-relation {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-re {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 90px 20px;
}
.content-re span {
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    color: #58468C;
}
.content-re p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #716C80;
    mix-blend-mode: normal;
}
.readmore {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    color: #58468C;
    position: relative;
    justify-content: space-between;
}
.readmore span {
    margin: 0 20px;
}
/* @media screen and (max-width:800px) {
    .contai-relation {
        width: 70%;
    }
} */



